/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
  --one: #dd8766;
  --two: #128084;
  --three: #544766;
  --four: #cf7672;
  --five: #efb462;
}

/* ------- Generals ---------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* flex */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-center {
  justify-content: center;
}

.f-col {
  flex-direction: column;
}

/* center */
.center {
  text-align: center;
}

/* gaps */
.gap4 {
  padding: 4rem 0;
}

/* Headings */

h1 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

/* section 1 */

.main {
  padding: 3.2rem;
  max-width: 50%;
  margin-top: 20vh !important;
  border: 1px solid black;
  border-radius: 8px;
  background: linear-gradient(to top, white, var(--two), var(--three));
}

.form {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.form-box {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  padding: 0.8rem 0;
  margin: 0.1rem 0;
}

.form ul li button {
  font-size: 0.8rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  /* padding: 0.4rem 0.6rem; */
  border-radius: 8px;
  border: none;
  background-color: var(--five);
  letter-spacing: 2px;
  color: white;
  height: 2rem;
  width: 8rem;
}

.form ul li button.active {
  background-color: var(--four);
}

.form ul hr:first-child {
  border: none;
}

hr {
  border-bottom: 1px dashed white;
}
